body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
    background-color: #000000;
    width: fit-content;
    border: 3px solid #000000;
}

.app div {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.app input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 20px;
}

.app .correct {
    color: #009900;
}

.app .incorrect {
    color: #ff0000;
}

.app .grid-header {
    background-color: #e0e0e0;
}
