body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#app {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 1px;
    background-color: #000;
    width: fit-content;
    border: 3px solid #000;
}
#app div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
#app input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 20px;
}
#app div {
    font-size: 20px;
}
#app div:nth-child(-n+13) {
    background-color: #e0e0e0;
}
#app div:nth-child(13n+1) {
    background-color: #e0e0e0;
}
